<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <style>
        .card {
            max-width: 1100px; /* Lebar maksimal card */
            margin: 0 auto; /* Pusatkan card secara horizontal */
        }
        .center-button {
            display: flex;
            justify-content: center;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .btn-submit {
            background-color: #0d1013;
            color: #fff;
        }
    </style>
</head>
<body>
    <div th:switch="${user.role}">
        <div th:case="'admin'">
            <nav th:replace="~{fragments/admin_navbar :: admin_navbar}"></nav>
        </div>
        <div th:case="'operational'">
            <nav th:replace="~{fragments/operational_navbar :: operational_navbar}"></nav>
        </div>
    </div>
    <div class="text-center" th:if="${user.role == 'operational' || user.role =='admin'}">

<div class="card mt-5">
    <div class="card-header text-center fw-bold" style="font-size: 24px;">
        Update Katalog
    </div>
    <div class="card-body">
        <!-- Warning message -->
        <div class="alert alert-warning" role="alert">
            Kapasitas maksimal gambar adalah 1 MB
        </div>
        
        <form id="formUpdateKatalog" th:action="@{/katalog/update/{id}(id=${katalog.id})}" th:object="${katalogDTO}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nama-katalog" class="form-label">Nama Katalog:</label>
                <input type="text" class="form-control" id="nama-katalog" th:field="*{namaKatalog}"/>
                <div id="nama-katalog-error" style="color: red;"></div>
            </div>
            <div class="form-group">
                <label for="harga-katalog" class="form-label">Harga Katalog:</label>
                <input type="text" class="form-control" id="harga-katalog" th:field="*{harga}"/>
                <div id="harga-katalog-error" style="color: red;"></div>
            </div>
            <div class="form-group">
                <label for="deskripsi-katalog" class="form-label">Katalog Description:</label>
                <input type="text" class="form-control" id="deskripsi-katalog" th:field="*{deskripsi}"/>
                <div id="deskripsi-katalog-error" style="color: red;"></div>
            </div>
            <div class="form-group">
                <label for="kategori-katalog" class="form-label">Kategori Katalog:</label>
                <select id="kategori-katalog" th:field="*{kategori}" class="form-control">
                    <option value="">Pilih kategori</option>
                    <option th:each="kategori : ${allKategori}" th:value="${kategori.id}" th:text="${kategori.namaKategori}"></option>
                </select>
                <div id="kategori-katalog-error" style="color: red;"></div>
            </div>
            <div class="form-group">
                <label for="image" class="form-label">Katalog Image:</label>
                <input type="file" id="image" name="file" class="form-control"/>
            </div>
            <div class="center-button">
                <button class="btn btn-submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('formUpdateKatalog').addEventListener('submit', function(event) {
            if (!validateForm()) {
                event.preventDefault(); // Mencegah form untuk disubmit jika validasi gagal
            }
        });
    });

    function validateForm() {
        var namaKatalog = document.getElementById("nama-katalog").value;
        var hargaKatalog = document.getElementById("harga-katalog").value;
        var deskripsiKatalog = document.getElementById("deskripsi-katalog").value;
        var kategoriKatalog = document.getElementById("kategori-katalog").value;

        var errorMessage = "";

        if (namaKatalog.trim() === "") {
            errorMessage += "Nama Katalog tidak boleh kosong\n";
        }

        if (hargaKatalog.trim() === "") {
            errorMessage += "Harga Katalog tidak boleh kosong\n";
        } else if (!(/^\d+$/.test(hargaKatalog))) {
            errorMessage += "Harga Katalog harus berupa angka\n";
        }

        if (deskripsiKatalog.trim() === "") {
            errorMessage += "Deskripsi Katalog tidak boleh kosong\n";
        }

        if (kategoriKatalog.trim() === "") {
            errorMessage += "Kategori Katalog tidak boleh kosong\n";
        }

        // Menampilkan pesan error jika ada
        if (errorMessage !== "") {
            document.getElementById('nama-katalog-error').innerText = "";
            document.getElementById('harga-katalog-error').innerText = "";
            document.getElementById('deskripsi-katalog-error').innerText = "";
            document.getElementById('kategori-katalog-error').innerText = "";

            var errors = errorMessage.split("\n");
            for (var i = 0; i < errors.length; i++) {
                if (errors[i] !== "") {
                    if (errors[i].includes("Nama Katalog")) {
                        document.getElementById('nama-katalog-error').innerText = errors[i];
                    } else if (errors[i].includes("Harga Katalog")) {
                        document.getElementById('harga-katalog-error').innerText = errors[i];
                    } else if (errors[i].includes("Deskripsi Katalog")) {
                        document.getElementById('deskripsi-katalog-error').innerText = errors[i];
                    } else if (errors[i].includes("Kategori Katalog")) {
                        document.getElementById('kategori-katalog-error').innerText = errors[i];
                    }
                }
            }

            return false;
        }

        // Menampilkan pop-up message setelah submit form
        var namaKatalogUpdated = document.getElementById("nama-katalog").value;
        var idKatalogUpdated = document.getElementById("id-katalog").value;
        alert("Katalog " + namaKatalogUpdated + " dengan id " + idKatalogUpdated + " berhasil diubah");

        return true; // Return true karena validasi berhasil
    }
</script>
<div th:unless="${user.role == 'operational' || user.role =='admin'}">
    <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
    </script>
</div>

</body>
</html>
