<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD PRODUCT</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <style>

        .center-button {
            display: flex;
            justify-content: center;
        }

        .right-button {
            display: flex;
            justify-content: right;
        }

        .custom-margin {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div th:switch="${user.role}">
        <div th:case="'admin'">
            <nav th:replace="~{fragments/admin_navbar :: admin_navbar}"></nav>
        </div>
        <div th:case="'operational'">
            <nav th:replace="~{fragments/operational_navbar :: operational_navbar}"></nav>
        </div>
    </div>
<div class="text-center" th:if="${user.role == 'operational' || user.role =='admin'}">
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body text-center">
            <img class="img-thumbnail mb-4" width="150" src="../static/Check.png" th:src="@{/Check.png}" alt="Check logo"
                 style="border: 0">
            <div class="text-center">
                <h2 th:text=" ${namaKatalog} + ' berhasil diubah' "></h2>
            </div>
            <div class="text-center m-3">
                <a type="button" class="btn btn-md btn-primary" href="/katalog">Home</a>
            </div>
        </div>
    </div>
</div>
<div th:unless="${user.role == 'operational' || user.role =='admin'}">
    <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.replace('/no-access');
            /*]]>*/
    </script>
</div>
</body>
</html>
